// main: main.less


/* Colors */

@brand: #527B8B;
@accent: #DDC27E;

@white: #fff;
@black: #111;

@light-grey: #ddd;
@grey: #bbb;
@dark-grey: #999;

@warning: #8E3624;
@success: #1C7021;


/* Font */

@font-content: 'Encode Sans', Arial, sans-serif;
@font-heading: 'Encode Sans', cursive;
// @font-logo: 'Didact Gothic', Arial, sans-serif;
@font-line-height: 1.4;


/* Design */
@anim-speed: .3s ease;
@basic-shadow: 0 1px 3px rgba(0,0,0,.15);


/* Layout */

@width-constraint: 1140px;
@spacing:15px;


/* Breakpoints */

@mobile-landscape: ~"(min-width: 480px)";
@tablet-portrait: ~"(min-width: 768px)";
@tablet-landscape: ~"(min-width: 1024px)";
@desktop: ~"(min-width: 1200px)";
