@import "config.less";
@import "mixins.less";
@import "reset.less";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 100%;
  font-family: 'Encode Sans', Helvetica, sans-serif;
  background-color: @white;
  color: @black;
}



// Seams Specific Styles

#seams-admin-panel-logout-btn {
  top: auto;
  bottom: 4px;
}

// End Seams Specific Styles

#page-contain {
  display: table;
  height: 100%;
  width: 100%;
}

#main-footer {
  display: table-row;
  height: 1px;
}

#page-excluding-footer {
  display: table-row;
  height: 100%;
}

h1 {
  font-weight: 100;
}


@import "_partials/_header.less";
